@import url(/client/css/normalize.css);
@import url(/client/css/reset.css);

/* 공통 */
.main-banner,
.recommend-list,
.event-banner,
.swiper {
  width: 1050px;
  margin: 0 auto;
}


/* 메인 배너 */
.main-banner {
  width: 1900px;
  height: 370px;
  overflow: hidden;
  transition: 1s;
}


/* 추천 리스트 */
.recommend-list {
  height: 600px;
  /* background-color: #FEC6D0; */
  padding: 40px 0 40px 0;
  position: relative;
}

.recommend-list__title {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  color: var(--content);
  font-size: var(--heading-xl);
  font-weight: bold;
}

.recommend-list__swiper {
  position: relative;
}

.recommend-list__product-info {
  position: absolute;
  bottom: 0px;
  min-height: 90px;
}

.recommend-list__product-name {
  color: var(--content);
  font-size: var(--label-medium);
  line-height: 160%;
  font-weight: 400;
}

.recommend-list__price {
  color: var(--content);
  font-size: var(--label-large);
  line-height: 140%;
  font-weight: bold;
}

.recommend-list__cart-add {
  background-color: transparent;
}

.recommend-list__cart-add img {
  position: absolute;
  top: 258px;
  right: 15px;
}


/* 이벤트 배너 */
.event-banner {
  height: 220px;
  padding: 40px 0;
}


/* 광고 팝업 */
.ad-popup {
  width: 440px;
  height: 672px;
  margin: 30px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: var(--below-medium);
}

.ad-popup__button-list {
  display: flex;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  z-index: 9999;
}

.ad-popup__button {
  background-color: var(--white);
  font-size: var(--paragraph-medium);
  font-weight: 400;
  width: 220px;
  height: 86px;
  border: none;
}

.ad-popup__button:hover {
  cursor: pointer;
}

.ad-popup__button--block {
  border-right: 1px solid var(--gray-100);
}

.ad-popup__button--close {
  overflow: auto; 
}


/* 장바구니 팝업 */
.cart-popup {
  padding: 20px;
  margin: 30px;
  width: 396px;
  height: 292px;
  border-radius: 16px;
  position: relative;
  box-shadow: var(--below-medium);
}

.cart-popup__button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  z-index: 9999;
  width: 356px;
}

.cart-popup__button {
  align-self: stretch;
  height: 54px;
  border-radius: 4px;
  font-weight: 600;
  font-size: var(--label-medium);
  border: none;
  width: 50%;
}

.cart-popup__button--cancel {
  color: var(--content);
  border: 1px solid var(--gray-400);
}

.cart-popup__button--add {
  color: var(--white);
  background-color: var(--primary);
}


/* 스와이퍼 - 메인 배너 */
.swiper1 {
  height: 370px;
  position: relative;
}

.main-banner__pagination {
  width: 55px !important;
  height: 23px !important;
  line-height: 23px;
  position: absolute;
  left: 1321px !important;
  bottom: 20px !important;
  color: var(--white);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.swiper-button-prev.a1 {
  width: 52px;
  height: 52px;
  background: url(/client/assets/icons/Icon/Arrow.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  /* display: none; */
  opacity: 0;
  transition: 1000ms;
  margin: auto 0px auto 350px;
}

.swiper-button-next.a1 {
  width: 52px;
  height: 52px;
  background: url(/client/assets/icons/Icon/Arrow.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  /* display: none; */
  opacity: 0;
  transform: rotate(180deg);
  transition: 1000ms;
  margin: auto 350px auto 0px;
}

.swiper-button-prev.a1::after, .swiper-button-next.a1::after {
  display: none;
}

.main-banner:hover .swiper-button-prev.a1, .main-banner:hover .swiper-button-next.a1 {
  opacity: 100%;
  /* display: flex; */
}


/* 스와이퍼 - 추천상품 */
.swiper2 {
  min-height: 426px;
  position: relative;
  overflow: hidden;
}
.swiper3 {
  min-height: 426px;
  position: relative;
  overflow: hidden;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  display:none;
  opacity: 0;
}

.swiper-button-prev.a2, .swiper-button-prev.a3 {
  width: 50px;
  height: 50px;
  background: url(/client/assets/icons/Icon/Arrow-recommend.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: translateX(-35px) rotate(180deg) !important;
}

.swiper-button-next.a2, .swiper-button-next.a3 {
  width: 50px;
  height: 50px;
  background: url(/client/assets/icons/Icon/Arrow-recommend.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev.a2::after,
.swiper-button-prev.a3::after,
.swiper-button-next.a2::after,
.swiper-button-next.a3::after {
  display: none;
}

.swiper-button-prev.a2, .swiper-button-next.a2, .swiper-button-prev.a3, .swiper-button-next.a3 {
  position: absolute;
}

.swiper-button-next.a2, .swiper-button-next.a3 {
  transform: translateX(35px);
  transition: 250ms;
}

.a2:hover, .a3:hover {
  filter: drop-shadow(var(--below-low));
}


/* 임시 */
.swiper-slide {
  min-height: 426px;
  /* background-image: url(/client/assets/test/slide.png); */
  /* background-color: green; */
  background-repeat: no-repeat;
}

