@import url(/client/css/theme.css);
@import url(/client/css/reset.css);
@import url(/client/css/normalize.css);

.productDetail-frame {
  background-color: var(--white);
  width: 1050px;
  margin: 0 auto;
}
/* 프로덕트디테일 상단 */
.productDetail {
  /* background-color: aqua; */
  width: 1050px;
  height: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

/* 썸네일 */
.productDetail-main__photo {
  width: 400px;
  height: 515px;
  margin-top: 44px;
  margin-bottom: auto;
  padding: 0px;
}

/* 제품명 */
.productDetail-title {
  width: 600px;
  height: 240px;
  margin-bottom: 0px;
  /* background-color: azure; */
}

/* 배송유형 */
.productDetail-title__delivery {
  font-size: var(--heading-large);
  font-weight: 700;
  color: var(--gray-700);
  
  padding-top: 44px;
  padding-bottom: 16px;

}

/* 제품 세부사항 */
.productDetail-title__name {
  line-height: 150%;
  font-weight: 600;
  font-size: var(--label-xl);
  color: var(--content);
}

.productDetail-title__explain {
  line-height: 160%;
  font-weight: 400;
  font-size: var(--paragraph-medium);
  color: var(--gray-400);
}

.productDetail-title__price {
  padding-top : 16px;
}

.productDetail-title-price__number {
  font-size: var(--label-xl);
  font-weight: 600;
  color: var(--content)
}

.productDetail-title-price__won {
  font-size: var(--heading-medium);
  font-weight: 700;
  color: var(--content);
}

.productDetail-title__notice {
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--primary);

  padding-top: 16px;
}

/* 제품 정보표 */
.productDetail-information {
  /* background-color: grey; */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  margin-left: auto;
  margin-top: 20px;
  padding: 0px;
  width: 600px;
  height: 480px;
}

.productDetail-information__delivery,
.productDetail-information__seller,
.productDetail-information__package,
.productDetail-information__unit,
.productDetail-information__weight,
.productDetail-information__origin,
.productDetail-information__allergy,
.productDetail-information__sellect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
  padding: 16px 0px;
  width: 600px;
  /* background-color: aquamarine; */
}

.productDetail-information-delivery__normal,
.productDetail-information-seller__company,
.productDetail-information-package__type,
.productDetail-information-unit__sell,
.productDetail-information-weight__unit,
.productDetail-information-origin__land,
.productDetail-information-allergy__info,
.productDetail-information-sellect__item {
  width: 120px;
  padding: 0px;
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}

.productDetail-information-delivery__title {
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}


.productDetail-information-delivery__guide {
  padding-right: 79px;
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-400);
}

.productDetail-information-seller__name { 
  padding-right: 451px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}

.productDetail-information-packgage-guide__title {
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500)
}


.productDetail-information-package__guide {
  padding-right: 238px;
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-400);
}


.productDetail-information-unit__item {
  padding-right: 458px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}

.productDetail-information-weight__item {
  padding-right: 422px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}

.productDetail-information-origin__page {
  padding-right: 378px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}

.productDetail-information-allergy__list {
  padding-left: 56px;
  padding-right: 30px;

  font-size: var(--label-small);
  font-weight: 400;
  color: var(--gray-500);
}

/* 수량 조정 */
.productDetail-infromation-sellect__number {
  border: 1px solid var(--gray-100);
  padding: 12px 16px;
  margin-right: 0px;
  width: 482px;
}

.productDetail-infromation-sellect-number__name {
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
}

.productDetail-information-sellect-number__totalPrice {
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--black);
  
  position: absolute;
  translate: 415px -10px;
  width: 45px;
  /* background-color: aliceblue; */
}  

.productDetail-information-sellect__calc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray-200);
  padding: 5px;
  margin-top: 12px;
  width: 84px;
  height: 30px;
}

.productDetail-infromation-sellect-calc__number {
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
  margin-top: 1px;
}

.productDetail-information-sellect-calc__minusBtn {
  border: 0px;
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
  background: url(/client/image/minus.png) no-repeat 50% 49%;
}

.productDetail-information-sellect-calc__plusBtn {
  border: 0px;
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  background: url(/client/image/plus.png) no-repeat 50% 50%;
}

/* 총 액 */
.productDetail__total {
  display: flex;
  flex-flow: column wrap;
  justify-content: right;
  margin-left: auto;
  /* background-color: #fa622f; */
}

.productDetail-total__bill {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  width: 200px;
  height: 43px;
  margin-left: auto;
  margin-bottom: 40px;
  /* background-color: antiquewhite; */
}

.productDetail-total-bill__totalPrice {
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
  margin-right: 17px;
}

.productDetail-total-bill__number {
  font-size: var(--label-xl);
  font-weight: 600;
  color: var(--content);

  margin-right: 4px;
}

.productDetail-total-bill__won {
  font-size: var(--heading-medium);
  font-weight: 700;
  color: var(--content);
}

.productDetail-total-bill__guide {
  justify-content: center;
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--black);
  margin-top: 10px;
  /* background-color: aliceblue; */
}

.productDetail-total-bill-guide__mile {
  background-color: #fa622f;
  border-radius: 12px;
  padding: 5px 8px 4px 8px;
  position: absolute;
  translate: -170px 29px;
  
  font-size: var(--heading-small);
  font-weight: 400;
  color: var(--white);
}

/* 좋아요, 알람, 장바구니 버튼 */
.productDetail__basket {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  width: 560px;
  height: 56px;
}

.productDetail-basket__likeBtn {
  background: url(/client/image/jjim.png) no-repeat 50% 89%;
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  width: 56px;
  height: 56px;
}

.productDetail-basket__alarmBtn {
  background: url(/client/image/bell.png) no-repeat 50% 50%;
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  width: 56px;
  height: 56px;
}

.productDetail-basket__basketBtn {
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  width: 424px;
  height: 56px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--white);
}

/* 상세페이지 네비게이션 */
.productDetail-main__nav {
  /* background-color: #fa622f; */
  width: 1050px;
  height: 102px;
  margin-bottom: 40px;
}

.productDetail-main-nav__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px
}

.productDetail-main-nav-list__product {
  border: 1px solid var(--gray-100);
  border-bottom: 0px;
  padding: 17px 102px;
  width: 263px;
  height: 54px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--primary);
}

.productDetail-main-nav-list__explain {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  border-right: 0px;
  padding: 18px 102px;
  width: 263px;
  height: 54px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
}

.productDetail-main-nav-list__review {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  border-right: 0px;
  padding: 18px 92px;
  width: 263px;
  height: 54px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
}

.productDetail-main-nav-list__review span {
  margin-left: 8px;
  font-size: var(--paragraph-small);
  font-weight: 400;
}

.productDetail-main-nav-list__claim {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  padding: 18px 115px;
  width: 263px;
  height: 54px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
}

/* 제품 사진 및 제품명, 문구 */
.productDetail-main-detail__img {
  width: 1050px;
  height: 670px;
  margin-bottom: 76px;
}

.productDetail-main-detail__script {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 256px;
  margin-bottom: 96px;
}

.productDetail-main-detail-script__subtitle {
  font-size: var(--label-xl);
  font-weight: 600;
  color: var(--content);
}

.productDetail-main-detail-script__title {
  font-size: var(--heading-xxxl);
  font-weight: 700;
  color: var(--content);
  line-height: 140%;
  margin-bottom: 36px;
}

.productDetail-main-detail-script__explain {
  font-size: var(--paragraph-medium);
  font-weight: 400;
  color: var(--content);
  border-top: 1px solid var(--gray-100);
  padding: 28px 0px 0px;
  line-height: 160%;
}

/* 칼리 체크포인트 */
.productDetail-main__service {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 68px
}

.productDetail-main__service::before {
  position: absolute;
  translate: 0 25px;
  display:block;
  content: '';
  width: 1050px;
  height: 1px;
  z-index: 1;
  background-color: #d9d9d9;
}

.productDetail-main-service__checkPoint {
  font-size: var(--heading-xxxl);
  font-weight: 700;
  color: var(--content);
  background-color: var(--white);

  position: relative;
  display: inline-block;
  z-index: 10;
  padding: 0px 16px;
  margin-bottom: 68px;
}

.productDetail-main-service-checkPoint__Karly {
  width: 1010px;
  margin-left: auto;
  margin-bottom: 96px;
}

/* 제품 영양성분표 */
.productDetail-main-service-checkPoint__information{
  width: 1050px;
  margin-bottom: 72px;
}

.productDetail-main__five {
  /* background-color: antiquewhite; */
  border-top: 1px solid var(--gray-100);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 1050px;
  height: 810px;
  margin-left: auto;
  margin-bottom: 52px;
  padding: 72px 0px 84px;
  gap: 35px;
}

.productDetail-main-five__title {
  /* background-color: #fa622f; */
  padding: 0px 442px;
  

  font-size: var(--heading-xl);
  font-weight: 700;
  color: var(--content);
}

/* 깐깐한 상품위원회 */
.productDetail-main-five__one {
  /* background-color: #fa622f; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 24px 0px 0px;
  margin-top: 35px;
  width: 315px;
  height: 272px;
}

.productDetail-main-five__one::before {
  margin-bottom: 16px;

  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: url(https://res.kurly.com/pc/ico/1910/01_check.svg) no-repeat 50% 50%;
}

.productDetail-main-five-one__committee {
  font-size: var(--label-large);
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 24px;
}

.productDetail-main-five-one__guide {
  width: 245px;
  height: 104px;

  font-size: var(--paragraph-medium);
  font-weight: 400;
  color: var(--content);
  line-height: 160%;
  text-align: center;
}

/* 차별화된 Karly Only 상품 */
.productDetail-main-five__two {
  /* background-color: #fa622f; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 24px 0px 0px;
  margin-top: 35px;
  width: 315px;
  height: 272px;
}

.productDetail-main-five__two::before {
  margin-bottom: 16px;

  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: url(https://res.kurly.com/pc/ico/1910/02_only.svg) no-repeat 50% 50%;
}

.productDetail-main-five-two__diff {
  font-size: var(--label-large);
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 24px;
}

.productDetail-main-five-two__guide {
  width: 264px;
  height: 104px;

  font-size: var(--paragraph-medium);
  font-weight: 400;
  color: var(--content);
  line-height: 160%;
  text-align: center;
}

/* 풀 콜드체인 배송 */
.productDetail-main-five__three {
  /* background-color: #fa622f; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 24px 0px 0px;
  margin-top: 35px;
  width: 315px;
  height: 272px;
}

.productDetail-main-five__three::before {
  margin-bottom: 16px;

  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: url(https://res.kurly.com/pc/ico/1910/02_only.svg) no-repeat 50% 50%;
}

.productDetail-main-five-three__fresh {
  font-size: var(--label-large);
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 24px;
}

.productDetail-main-five-three__guide {
  width: 285px;
  height: 104px;

  font-size: var(--paragraph-medium);
  font-weight: 400;
  color: var(--content);
  line-height: 160%;
  text-align: center;
}

/* 최선의 가격 */
.productDetail-main-five__four {
  /* background-color: #fa622f; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 24px 0px 0px;
  margin-top: 35px;
  width: 315px;
  height: 272px;
}

.productDetail-main-five__four::before {
  margin-bottom: 16px;

  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: url(https://res.kurly.com/pc/ico/1910/04_price.svg) no-repeat 50% 50%;
}

.productDetail-main-five-four__price {
  font-size: var(--label-large);
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 24px;
}

.productDetail-main-five-four__guide {
  width: 252px;
  height: 104px;

  font-size: var(--paragraph-medium);
  font-weight: 400;
  color: var(--content);
  line-height: 160%;
  text-align: center;
}

/* 지속 가능한 유통 */
.productDetail-main-five__five {
  /* background-color: #fa622f; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 24px 0px 0px;
  margin-top: 35px;
  width: 315px;
  height: 272px;
}

.productDetail-main-five__five::before {
  margin-bottom: 16px;

  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: url(https://res.kurly.com/pc/ico/1910/05_eco.svg) no-repeat 50% 50%;
}

.productDetail-main-five-five__retail {
  font-size: var(--label-large);
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 24px;
}

.productDetail-main-five-five__guide {
  width: 250px;
  height: 104px;

  font-size: var(--paragraph-medium);
  font-weight: 400;
  color: var(--content);
  line-height: 160%;
  text-align: center;
}

.productDetail-review {
  display: flex;
  flex-flow: column nowrap;
  width: 1050px;
  gap: 56px;
}

/* 상품 후기 */

/* 안내 문구 */
.productDetail-review__top {
  height: 142px;

  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 76px;
}

.productDetail-review-top__title {
  position: absolute;

  font-size: var(--heading-xl);
  font-weight: 700;
  color: var(--black);
}

.productDetail-review-top__subtitle {
  position: absolute;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
  top: 64px;
}

.productDetail-review-top__explain {
  position: absolute;
  top: 88px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
  line-height: 150%;
}

.productDetail-review-top__explain li::before{
  content: '• ';
  font-size: 10px;
}

.productDetail-review-top__reviewBtn {
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  position: absolute;
  width: 155px;
  height: 44px;
  left: 895px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--white);
}

/* 게시판 */
.productDetail-review__board {
  gap: 16px;
}

.productDetail-review-board-top__nav{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.productDetail-review-board-top-nav__total{
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--content);
  line-height: 150%;
}

.productDetail-review-board-top-nav__package{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.productDetail-review-board-top-nav-package__likes{
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
  line-height: 150%;
}

.productDetail-review-board-top-nav-package__newest::before {
  display: flexbox;
  margin: 0px 8px;
  content: '|';
  height: 40%;
}

.productDetail-review-board-top-nav-package__newest{
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--gray-300);
  line-height: 150%;
}

/* 게시물 */
.productDetail-review-board__customer {
  border-top: 1px solid var(--black);
  padding-top: 16px;
}

.productDetail-review-board-customer-writing__notice1 {
  border-bottom: 1px solid var(--gray-100);
  display: flex;
  flex-direction: row;
  padding: 2px 20px 11px;
}

.productDetail-review-board-customer-writing__notice2 {
  border-bottom: 1px solid var(--gray-100);
  
  display: flex;
  flex-direction: row;

  padding: 11px 20px 11px;
}
/* 공지 제목 */
.prodcuproductDetail-review-board-customer-writing__title{
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
  line-height: 150%;
}

/* 공지 뱃지 */
.productDetail-review-board-customer-writing-badge {
  background: var(--gray-100);
  border-radius: 1px;
  width: 37px;
  height: 18px;
  padding: 2px 8px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--content);
  line-height: 150%;
  margin-right: 20px;
}

.productDetail-review-board-customer-writing__best1,
.productDetail-review-board-customer-writing__best2,
.productDetail-review-board-customer-writing__best3 {
  display: flex;
  flex-direction: row;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid var(--gray-100);
}

/* 베스트 뱃지 */
.productDetail-review-board-customer-writing-best {
  background-color: var(--secondary);
  border-radius: 1px;
  width: 48px;
  height: 18px;
  padding: 0px 8px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--white);
  line-height: 150%;
  margin-right: 8px;
}

/* 퍼플 뱃지 */
.productDetail-review-board-customer-wirting-purple {
  border: 1px solid var(--primary);
  border-radius: 1px;
  width: 37px;
  height: 18px;
  padding: 0px 7px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--primary);
  line-height: 150%;
  margin-right: 8px;
}

/* 작성자 이름 */
.productDetail-review-board-customer-wirting-writer{
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--black);
  line-height: 150%;
  margin-right: 82px;
}

/* 리뷰 내용 */
.roductDetail-review-board-customer-wirting-detail {
  display: flex;
  flex-flow: column nowrap;
  
  width: 142px;
  height: 114px;
}

/* 리뷰 제품명 */
.productDetail-review-board-customer-wirting-detail-pdName {
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-400);
  line-height: 150%;
}

/* 리뷰 작성내용 */
.productDetail-review-board-customer-wirting-detail-content {
  font-size: var(--paragraph-small);
  font-weight: 400;
  color: var(--black);
  line-height: 160%;
  white-space: pre-line;
  margin-bottom: 20px;
}

/* 리뷰 날짜 */
.productDetail-review-board-customer-wirting-detail-date {
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-400);
  line-height: 150%;
}

/* 리뷰 이전, 다음 버튼 */
.productDetail-review-board__remote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 72px;
}

.productDetail-review-board-remote__beforeBtn {
  border: 1px solid var(--gray-100);
  border-radius: 4px;

  width: 56px;
  height: 56px;
  background: url(https://res.kurly.com/kurly/ico/2021/paging-prev-disabled.svg) no-repeat -3px -2px;
  background-size: 60px 60px;
  padding: 4px;
  margin-right: 5px;
}

.productDetail-review-board-remote__afterBtn {
  border: 1px solid var(--gray-100);
  border-radius: 4px;

  width: 56px;
  height: 56px;
  background: url(https://res.kurly.com/kurly/ico/2021/paging-next-activated.svg) no-repeat -3px -2px;
  background-size: 60px 60px;
  padding: 4px;
  margin-left: 5px;
}

/* 상품 문의 */
.productDetail-claim__top {
  height: 100px;

  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 76px;
  margin-bottom: 56px;
}
 
.productDetail-claim-top__title {
  position: absolute;

  font-size: var(--heading-xl);
  font-weight: 700;
  color: var(--black);
}

.productDetail-claim-top__explain {
  position: absolute;
  top: 64px;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-500);
  line-height: 150%;
}

.productDetail-claim-top__explain li::before{
  content: '• ';
  font-size: 10px;
}

.productDetail-claim-top__claimBtn {
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  position: absolute;
  width: 155px;
  height: 44px;
  left: 895px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--white);
}

/* 상품 문의 네비 */
.productDetail-claim__nav {
  border-color: var(--black);
  border-width: 2px 0px 1px 0px;
  border-style: solid;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.productDetail-claim-nav__title {
  padding: 17px 361px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--black);
  line-height: 150%;
}

.productDetail-claim-nav__writer,
.productDetail-claim-nav__date,
.productDetail-claim-nav__status {
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--black);
  line-height: 150%;
}

.productDetail-claim-nav__status {
  padding-right: 22px;
}

/* 상품 문의 게시판 */
.productDetail-claimList {
  display: flex;
  flex-flow: column nowrap;
}

/* 상품 문의 공지 */
.productDetail-claim__notice,
.productDetail-claim-board-claim1__script,
.productDetail-claim-board-noOpen {
  height: 58px;
  border-bottom: 1px solid var(--gray-100);
}

.productDetail-claim-notice__notice1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 17px  46px 17px 20px; 
}

.productDetail-claim-notice-notice1__title { 
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
  line-height: 150%;
  width: 750px; 
}
.productDetail-claimList-nds1,
.productDetail-claimList-nds2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--gray-400);
  line-height: 150%;
}

.productDetail-claim-board-claim-script__status3{
  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--primary);
  line-height: 150%;
}

/* 답변상태 - */
.productDetail-claim-board-claim-script__status1{
  margin-left: 50px;
}

/* 답변상태 답변대기 */
.productDetail-claim-board-claim-script__status2,
.productDetail-claim-board-claim-script__status3{
  margin-left: 24px;
}

.productDetail-claim-board-claim-script__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
}

/* 게시 날짜 */
.productDetail-claim-board-claim-script__date{

  width: 80px;
}

/* 상품 문의 게시판 리스트 */
.productDetail-claim-board-claim1__script,
.productDetail-claim-board-noOpen {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 17px 22px 17px 20px
}

.productDetail-claim-board-claim-script-title {
  border: none;
  height: 24px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--content);
}

/* 오픈 시 Q&A */
.productDetail-claim-board-content {
  position: relative;
  background-color: var(--gray-50);
  border-bottom: 1px solid var(--gray-100);

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 20px;
}

/* 오픈 시 질문 */
.productDetail-claim-board-claim-mention::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background: url(/client/image/Question.png) no-repeat;
}

.productDetail-claim-board-claim-mention {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  white-space: pre-line;

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--content);
  margin-bottom: 40px;
  line-height: 150%;
}


/* 오픈 시 답변 */
.productDetail-claim-board-claim-answer::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background: url(/client/image/Answer.png) no-repeat;
}

.productDetail-claim-board-claim-answer {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  white-space: pre-line;

  width: 685px;
  font-size: var(--label-small);
  font-weight: 600;
  color: var(--content);
  margin-bottom: 50px;
  line-height: 150%;
}

.productDetail-claim-board-claim-date {
  position: absolute;
  top: 330px;
  left: 55px;
  

  font-size: var(--label-small);
  font-weight: 600;
  color: var(--gray-400);
  line-height: 150%;
}

.productDetail-claim-board-secret-title {
  display: flex;
  flex-direction: row;

  border: none;
  height: 24px;

  font-size: var(--label-medium);
  font-weight: 600;
  color: var(--gray-400);
}

.productDetail-claim-board-secret-title::after {
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  background: url(/client/image/Lock.png) no-repeat;
  margin-left: 20px;
}

/* 상품문의 리모컨 */
.productDetail-claim-board__remote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 72px;
}

.productDetail-claim-board-remote__beforeBtn {
  border: 1px solid var(--gray-100);
  border-radius: 4px;

  width: 56px;
  height: 56px;
  background: url(https://res.kurly.com/kurly/ico/2021/paging-prev-disabled.svg) no-repeat -3px -2px;
  background-size: 60px 60px;
  padding: 4px;
  margin-right: 5px;
}

.productDetail-claim-board-remote__afterBtn {
  border: 1px solid var(--gray-100);
  border-radius: 4px;

  width: 56px;
  height: 56px;
  background: url(https://res.kurly.com/kurly/ico/2021/paging-next-activated.svg) no-repeat -3px -2px;
  background-size: 60px 60px;
  padding: 4px;
  margin-left: 5px;
}