/* PRODUCT_LIST */
body {
  /* Auto layout */
  /* width: 1920px;
  height: 4008px; */
  background: var(--white);
}

.topbanner {
  display: block;
  width: 1920px;
  height: 50px;
  background: var(--primary);
}

.header {
  width: 1920px;
  height: 197px;
  background: var(--secondary);
}

/* main start */
main {
  height: 3132px;
  width: 1050px;
  margin: auto;
  border-radius: 0px;
  padding: 0px 0px 80px 0px;
  background: var(--white);
}

.page-name {
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 48px 0px 48px 0px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 21.328px;
  text-align: center;
}

/* product_group = left_nav + right_product_list */
.karly-page {
  width: 1050px;
  height: 2924px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.karly-sub-nav {
  width: 267px;
  background: var(--gray-200);
}

.karly-sub-nav__naming > div {
  width: 220px;
}

/* 하위 리스트 확인 */
.karly-sub-nav__category-button:hover ~ .karly-sub-nav__category-ui {
  opacity: 0;
  max-height: 0;
}

.karly-product-list {
  flex-grow: 1;
  background: var(--blue-200);
}

.karly-product-menu {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;

  height: 44px;
  margin: 0;
  padding: 0 0 20px;

  border: 1px solid;
  background-color: var(--gray-100);
}
.karly-product-menu__order-naming {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  position: relative;
}

.karly-product-menu__order-li {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 8px;
}

.karly-product-menu__order-li--before::before {
  content: "";
  width: 1px;
  height: 10px;
  margin-right: 8px;
  background-color: red;
  /* background-color: rgb(226, 226, 226); */
}

.karly-product-menu__rank_info {
  height: 20px;
  margin-left: 4px;
}

.karly-product-menu__rank_info:hover > .karly-product-menu__rank_detail{
  display: block;
  
}

.karly-product-menu__rank_detail {
  display: none;
  position: absolute;
  top: 36px;
  left: -6px;
  z-index: 20;
  max-width: 272px;
  padding: 14px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.karly-product {
  display: grid;
  grid-template-columns: repeat(auto-fill, 249px);
  gap: 24px 18px;
}

.karly-product figure {
  margin: 0;
  width: 249px;
  height: 320px;
}

.karly-product img {
  width: 100%;
  height: 100%;
}


.karly-product-badge {
  display: flex;
  flex-flow: nowrap row;
  width: 123px;
  height: 26px;
  gap: 8px;
}

.karly-product-badge__karly {
  width: 65px;
  height: 26px;
  padding: 4px;

  /* Label/Small */
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;

  color: var(--primary);

  /* gray/100 */
  background: #E1E1E1;
  border-radius: 4px;
}

.karly-product-badge__text {
  width: 50px;
  height: 26px;
  padding: 4px;

  /* Label/Small */
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;

  color: var(--content);

  /* gray/100 */
  background: #E1E1E1;
  border-radius: 4px;
}


/* grid test */
.show1 {
  background-color: var(--blue-100);
  border: 1px solid rebeccapurple;
}

.show2 {
  background-color: var(--blue-200);
  border: 1px solid rebeccapurple;
}

.show3 {
  background-color: var(--blue-300);
  border: 1px solid rebeccapurple;
}

.show4 {
  background-color: var(--blue-400);
  border: 1px solid rebeccapurple;
}

.show5 {
  background-color: var(--blue-500);
  border: 1px solid rebeccapurple;
}

.show6 {
  background-color: var(--blue-600);
  border: 1px solid rebeccapurple;
}

.karly-page-control {
  background-color: var(--gray-200);

  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: center;

  margin: 36px auto 0px;
  /* margin: 36px 0 0; */
}

.footer {
  width: 1920px;
  height: 629px;
  background: var(--secondary);
}
